{
  "presets": ["@babel/preset-react", "@babel/preset-typescript"],
  "plugins": ["dev-expression"],
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions", "ie >= 11"]
            },
            "modules": "commonjs",
            "loose": true
          }
        ]
      ],
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "rollup": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions", "ie >= 11"]
            },
            "modules": false
          }
        ]
      ],
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "jsnext": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions", "ie >= 11"]
            },
            "modules": false,
            "loose": true
          }
        ]
      ],
      "plugins": [["@babel/plugin-transform-runtime", { "useESModules": true }]]
    }
  }
}
