{
  "presets": ["@babel/preset-react", "@babel/preset-typescript"],
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": 3,
            "loose": true,
            "modules": "commonjs",
            "targets": {
              "node": "current",
              "browsers": [
                "last 2 Chrome versions",
                "last 2 Edge versions",
                "last 2 Firefox versions",
                "last 2 iOS versions",
                "last 2 Opera versions",
                "last 2 Safari versions",
                "last 2 Samsung versions"
              ]
            },
            "useBuiltIns": "usage"
          }
        ]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          { "corejs": 3, "version": "^7.10.4" }
        ]
      ]
    },
    "rollup": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": 3,
            "loose": true,
            "modules": false,
            "targets": {
              "node": "current",
              "browsers": [
                "last 2 Chrome versions",
                "last 2 Edge versions",
                "last 2 Firefox versions",
                "last 2 iOS versions",
                "last 2 Opera versions",
                "last 2 Safari versions",
                "last 2 Samsung versions"
              ]
            },
            "useBuiltIns": "usage"
          }
        ]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          { "corejs": 3, "version": "^7.10.4" }
        ]
      ]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": 3,
            "loose": true,
            "modules": false,
            "targets": {
              "node": "current",
              "browsers": [
                "last 2 Chrome versions",
                "last 2 Edge versions",
                "last 2 Firefox versions",
                "last 2 iOS versions",
                "last 2 Opera versions",
                "last 2 Safari versions",
                "last 2 Samsung versions"
              ]
            },
            "useBuiltIns": "usage"
          }
        ]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          { "corejs": 3, "useESModules": true, "version": "^7.10.4" }
        ]
      ]
    }
  }
}
