h2.headerTitle {
  margin-top: 0.5em;
}

.container.paddingBottom {
  padding-bottom: 30px;
}
.container.paddingTop {
  padding-top: 30px;
}

.mainContainer .wrapper p {
  max-width: none;
}

.promoSection h2 {
  font-size: 18px;
  margin-top: 0.5em;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
