.container.paddingBottom {
  padding-bottom: 30px;
}
.container.paddingTop {
  padding-top: 30px;
}

.mainContainer .wrapper p {
  max-width: none;
}

.logo {
  width: 400px;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
